<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <div class="input-group">
                <input ng-model="searchText" class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <select ng-model="sortOrder" class="form-control" disabled>
                    <option value="value[0].title">Alphabetical</option>
                    <option value="rating">Proficiency</option>
                </select>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-sort"></span>
                </span>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Requested Skills</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-warning alert-dismissable">
                    <strong>Looking to hire me?</strong> Selecting skills will store them in this panel to give you an easy overview.
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                </div>
                <div ng-repeat="skill in skills">
                    <div ng-repeat="set in skill.sets">
                        <div ng-repeat="value in set.value" ng-show="value.active" ng-click="remove(value)" class="pointer">
                            <span class="label label-success">{{value.title}} <i class="icon-star"> {{set.rating}}</i></span> <span class="label label-danger"></span><i class="icon-remove-sign"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div ng-repeat="edu in education | filter:searchText">
        <div class="panel panel-default" ng-repeat="value in edu.value">
            <div class="panel-heading">
                <h3 class="panel-title">{{value.facility}}</h3>
            </div>
            <div class="panel-body">
                <h4>{{value.title}}</h4>
                </p>
                <h5><span class="label label-default">{{value.startDate}} - {{value.endDate}}</span></h5>
                <p>{{value.description}}</p>
            </div>
        </div>
    </div>
</div>
