<div class="row">
    <div class="col-md-3">
            <div class="form-group">
                <label for="filter">Filter:</label>
        <input ng-model="searchText" class="form-control">
    </div>
            <div class="form-group">
                <label for="filter">Sort:</label>
        <select ng-model="sortOrder" class="form-control">
            <option value="">Chronological</option>
            <option value="months">Tenure</option>
        </select>
    </div>
      <h3>
        Requested Skills
      </h3>
      <div ng-repeat="skill in skills">
        <p ng-repeat="set in skill.sets">
        <span ng-repeat="value in set.value" ng-show="value.active">{{value.title}}</span>
        </p>
      </div>
    </div>
    <div class="col-md-9">
      <h1 class="page-header">
          Experience <span class="label label-info">{{totalTenure}}</span>
      </h1>
      <p>
      </p>
      <div ng-repeat="exp in experience | orderBy:sortOrder:true | filter:searchText">
        <p>
        <h3>{{exp.company.title}}</h3>
        </p>
        <p>
        <h4><span ng-repeat="title in exp.titles">{{title.title}}<span ng-show=" ! $last ">, </span></span></h4>
        <h5><span class="label label-default">{{exp.startDate}} - {{exp.endDate}}</span> <span class="label label-info">{{exp.tenure}}</span></h5>
        </p>
        <p>
        <ul>
          <li ng-repeat="achievement in exp.achievements">{{achievement.title}}</li>
        </ul>
        </p>
        <p>
          <button button-toggle="active btn-success" class="btn btn-default btn-xs" ng-repeat="skill in exp.skills" ng-model="skill"></button> 
        </p>
      </div>
    </div>
</div>
