<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <div class="input-group">
                <input ng-model="searchText" class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <select ng-model="sortOrder" class="form-control">
                <option value="">Chronological</option>
                <option value="months">Tenure</option>
            </select>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Requested Skills</h3>
            </div>
            <div class="panel-body">
                <div ng-hide="isActiveSkill()">
                <div class="alert alert-warning">
                    <strong>Looking for a consultant?</strong> Select desired skills as you browse to store them in this panel for easy viewing.
                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>-->
                </div>
            </div>
            <p></p>
                <div ng-repeat="skill in skills">
                    <div ng-repeat="set in skill.sets">
                        <div ng-repeat="value in set.value" ng-show="value.active" ng-click="remove(value)" class="pointer">
                                <p class="sidebar-spacer">
                                <span class="label label-success stored">{{value.title}} <i class="icon-star"> {{set.rating}}</i> <button type="button" class="close stored" data-dismiss="alert" aria-hidden="true"><strong>x</strong></button></span>
                                </p>
                        </div>
                    </div>
                </div>
                <div ng-show="isActiveSkill()">
                <a href="" clip-copy="copySkills()" clip-click="copyLink()">Copy to clipboard</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
            <div class="panel panel-default" ng-repeat="exp in experience | orderBy:sortOrder:true | filter:searchText">
                <div class="panel-heading">
                    <h3 class="panel-title">{{exp.company.title}}</h3>
                </div>
                <div class="panel-body">
                    <h4><span ng-repeat="title in exp.titles">{{title.title}}<span ng-show=" ! $last ">, </span></span></h3>
                    <p class="tenure">{{exp.startDate}} - {{exp.endDate}} | {{exp.tenure}}</p>
                    </p>
                    <p>
                    <ul>
                        <li ng-repeat="achievement in exp.achievements">{{achievement.title}}</li>
                    </ul>
                    </p>
                    <p>
                    <button button-toggle="active btn-primary" class="btn btn-default btn-xs pill-spacer" ng-repeat="skill in exp.skills" ng-model="skill"></button> 
                    </p>
                </div>
            </div>

    </div>
</div>
