<div class="row">
    <div class="col-md-3">
            <div class="form-group">
                <label for="filter">Filter:</label>
        <input ng-model="searchText" class="form-control">
    </div>
            <div class="form-group">
                <label for="filter">Sort:</label>
        <select ng-model="sortOrder" class="form-control">
            <option value="value[0].title">Alphabetical</option>
            <option value="rating">Proficiency</option>
        </select>
    </div>
      <h3>
        Requested Skills
      </h3>
      <div ng-repeat="skill in skills">
        <p ng-repeat="set in skill.sets">
        <span ng-repeat="value in set.value" ng-show="value.active">{{value.title}}</span>
        </p>
      </div>
    </div>
    <div class="col-md-9">
      <h1 class="page-header">
        Skills 
      </h1>
      <div ng-repeat="skill in skills">
        <p>
        <h3><span ng-repeat="category in skill.categories">{{category.title}}<span ng-show=" ! $last ">, </span></span></h4>
        </p>
        <div ng-repeat="set in skill.sets | orderBy:sortOrder:true | filter:searchText">
            <div class="row">
            <div class="col-md-6">
        <button class="btn btn-default" button-toggle="active btn-success" ng-repeat="value in set.value" ng-model="value"></button>
        </div>
            <div class="col-md-3">
        <rating value="set.rating" max="5" readonly="true"></rating>{{set.rating}}
            </div>
            </div>
        </div>
      </div>
</div>
