<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <div class="input-group">
                <input ng-model="searchText" class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <select ng-model="sortOrder" class="form-control">
                    <option value="value[0].title">Alphabetical</option>
                    <option value="rating">Proficiency</option>
                </select>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-sort"></span>
                </span>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Requested Skills</h3>
            </div>
            <div class="panel-body">
                <div ng-hide="isActiveSkill()">
                <div class="alert alert-warning">
                    <strong>Looking for a consultant?</strong> Select desired skills as you browse to store them in this panel for easy viewing.
                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>-->
                </div>
            </div>
            <p></p>
                <div ng-repeat="skill in skills">
                    <div ng-repeat="set in skill.sets">
                        <div ng-repeat="value in set.value" ng-show="value.active" ng-click="remove(value)" class="pointer">
                                <p class="sidebar-spacer">
                                <span class="label label-success stored">{{value.title}} <i class="icon-star"> {{set.rating}}</i> <button type="button" class="close stored" data-dismiss="alert" aria-hidden="true"><strong>x</strong></button></span>
                                </p>
                        </div>
                    </div>
                </div>
                <div ng-show="isActiveSkill()">
                <a href="" clip-copy="copySkills()" clip-click="copyLink()">Copy to clipboard</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div ng-repeat="skill in skills">
            <div class="panel panel-default" ng-repeat="category in skill.categories">
                <div class="panel-heading">
                    <h3 class="panel-title">{{category.title}}</h3>
                </div>
                <div class="panel-body">

                    <div ng-repeat="set in skill.sets | orderBy:sortOrder:true | filter:searchText">
                        <div class="row">
                            <div class="col-md-5">
                                <p>
                                <button class="btn btn-default btn-sm" button-toggle="active btn-primary" ng-repeat="value in set.value" ng-model="value"></button>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <rating value="set.rating" max="5" readonly="true"></rating>{{set.rating}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
