<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@adcadenyc">
    <meta name="twitter:title" content="app">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@adcadenyc">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="app" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/app" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <div class="main">
      <div class="masthead">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href="#">Logo</a> 
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ui-route="/dashboard" ng-class="{active:$uiRoute}">
                <a href="#/dashboard">
                  <i class="icon-dashboard"></i>
                  Dashboard
                </a>
              </li>
              <li ui-route="/skills" ng-class="{active:$uiRoute}">
                <a href="#/skills">
                  <i class="icon-dashboard"></i>
                  Skills
                </a>
              </li>
              <li ui-route="/experience" ng-class="{active:$uiRoute}">
                <a href="#/experience">
                  <i class="icon-dashboard"></i>
                  Experience
                </a>
              </li>
              
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->

            </ul>
            
              <!--
            <ul class="nav navbar-nav navbar-right">
              <li ng-hide="!$root.currUser" ui-route="/account" ng-class="{active:$uiRoute}">
                <a href="#/account">
                  <i class="icon-gear"></i>
                  Account
                </a>
              </li>
              <li  ui-route="/register" ng-class="{active:$uiRoute}">
                <a href="#/register">
                  Register
                </a>
              </li>
              <li ng-hide="!$root.currUser" ui-route="/login" ng-class="{active:$uiRoute}">
                <a href="#/logout" class="login">
                  Log Out
                </a>
              </li>
              <li ng-hide="$root.currUser" ui-route="/login" ng-class="{active:$uiRoute}">
                <a href="#/login">
                  Log In
                </a>
              </li>
            </ul>
              -->
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <ul class="social">
            <li><a target="_blank" href="http://gplus.to/"><i class="icon-google-plus-sign"></i></a></li>
            <li><a target="_blank" href="http://twitter.com/"><i class="icon-twitter-sign"></i></a></li>
          </ul>
          

          <p>
            (c) 2013 CodeboxSystems LLC
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
