<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <div class="input-group">
                <input ng-model="searchText" class="form-control" disabled>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <select ng-model="sortOrder" class="form-control" disabled>
                <option value="value[0].title">Alphabetical</option>
                <option value="rating">Proficiency</option>
            </select>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Requested Skills</h3>
            </div>
            <div class="panel-body">
                <div ng-hide="isActiveSkill()">
                <div class="alert alert-warning">
                    <strong>Looking to hire me on as a consultant?</strong> Select desired skills as you browse for easy copying to your clipboard.
                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>-->
                </div>
            </div>
            <p></p>
                <div ng-repeat="skill in skills">
                    <div ng-repeat="set in skill.sets">
                        <div ng-repeat="value in set.value" ng-show="value.active" ng-click="remove(value)" class="pointer">
                                <p class="sidebar-spacer">
                                <span class="label label-success stored">{{value.title}} <i class="icon-star"> {{set.rating}}</i> <button type="button" class="close stored" data-dismiss="alert" aria-hidden="true"><strong>x</strong></button></span>
                                </p>
                        </div>
                    </div>
                </div>
                <div ng-show="isActiveSkill()">
                <a href="" clip-copy="copySkills()" clip-click="copyLink()">Copy to clipboard</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Identity
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>
                        I am the Director of Web Engineering at Adcade, a freelance Sr. Web Developer, and Front End Consultant. My primary focus is front end web development, but I also specialize in back end development, deployment, and management. 
                        </p>
                        <p>
                        I'm currently working with a tech startup where I am the direct supervisor to a team of 4 web engineers. My daily responsibilities involve strategic planning, mentoring, hands-on development, writing automated tests, performing code reviews, managing product releases, leading scrum meetings, and communicating and carrying out JAD sessions with other department leads.
                        </p>
                        <p>
                        Professionally, my number one passion is working with teams of developers. Outside of work, my passions include rock climbing, bouldering, playing the guitar, digital illustration, photography, electrical engineering, and archery. I currently reside in New York City.
                        </p>
                        <p>
                        I built this portfolio using <a href="http://angularjs.org/" target="_blank">AngularJS</a>.
                        </p>
                        <p><a href="https://docs.google.com/document/d/1Iqkc-8_73aZsBJZyE4bMCEJtVsgQcXAJXdlBDHu26bc/pub" target="_blank" class="btn btn-primary btn-sm pull-right" role="button">Resume</a></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Daily Workload
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div workload id="chart_div" style="width:400; height:300"></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Current Reads
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><strong>The Lean Startup</strong> by Eric Ries</li>
                            <li><strong>Succeeding with Agile: Software Development</strong> by Mike Cohn</li>
                            <li><strong>Test Driven JavaScript Development</strong> by David Flanagan</li>
                            <li><strong>Social Engineering: The Art of Human Hacking</strong> by Christopher Hadnagy</li>
                            <li><strong>Service Design Patterns</strong> by Robert Daigneau</li>
                            <li><strong>Building Web Reputation Systems</strong> by Randy Farmer and Bryce Glass</li>
                            <li><strong>Visualize This: The FlowingData Guide to Design, Visualization and Statistics</strong> by Nathan Yau</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
